.candidate_photo {
    width: 8rem;
    height: 8rem;
    border: 0.2rem solid #67C232;
    border-radius: 100%;
}

body{
    background-color: white !important;
    width: 100% !important;
     /*argin: auto;
    padding: 2%; */
}

.av-body{
    padding: 3% !important;
    width: 80% !important;
}
.html {
    font-size: 62.5%;

  }
  .BGVP{
    background-color: rgb(156, 153, 153) !important;
  }
/* responsiveness */

@media(max-width:400px) {
    html {
      font-size: 25%;
    }
  
  }
  
  @media(min-width:401px) and (max-width:672px) {
    html {
      font-size: 35%;
    }
  
  }
  
  @media(min-width:673px) and (max-width:768px) {
    html {
      font-size: 50%;
    }
  
  }
  
  @media(min-width:769px) and (max-width:1000px) {
    html {
      font-size: 60%;
    }
  
  }
  
  @media(min-width:1001px) and (max-width:1200px) {
    html {
      font-size: 70%;
    }
 
  }
  
  @media(min-width:1201px) {
    html {
      font-size: 100%;
    }
  
  }
